//
   Created by Rodrigo Bastos on 28/10/15.

script(type='text/ng-template', id='home')

  .margin-bottom-medium

  .row
     .small-8.large-8
        section.panel-translate
          .row
            .small-10.large-8.columns
              h5 Frase:
              h2 Meu nome é Rodrigo
            .small-2.large-4.columns
              h1 HUGO










