//
   Created by Rodrigo Bastos on 28/10/15.

script(type='text/ng-template', id='home')

  .margin-bottom-medium

  .row
    .small-12.medium-9.large-6.columns

      .panel.panel-default
      h2 Dados do Usuário







