//
   Created by Rodrigo Bastos on 29/10/15.
script(type='text/ng-template', id='info')

  div(style='height:150px;background-color:red;')
    h1 {{colors}}

    h3 Module web application with Nodejs and Express!