//
   Created by Rodrigo Bastos on 14/03/16.
doctype html

html
   head
      title= title
      script(src='js/app.min.js')
   body(ng-app='app', ng-controller='dashboardCtrl')
      h2 CORE MEAN!
      h4 {{test}}
