//
   Created by Rodrigo Bastos on 14/03/16.
doctype html

html
   head
      title= title

      link(href='/css/app.min.css')

      script(src='/js/app.min.js')

   body(ng-app='app', ng-controller='dashboardCtrl')
      h2 CORE MEAN!

      button.button(type='button') {{test}}
