//
   Created by Rodrigo Bastos on 30/10/15.

include partials/mixins

doctype html
html.no-js(ng-app='application')
  head

    title #{title}

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet', href='/css/handtalk.min.css')
    link(rel='stylesheet', href='/css/collaborative.min.css')
    script(src='/js/collaborative.min.js')

  body(style='background: #e9e9e9;')

    +topbar('userPanel')

    ui-view

    include partials/home
    include partials/info


